body{

background:#0f172a;
font-family:Arial;
color:white;
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

width:700px;
text-align:center;

}

.subtitle{

color:#94a3b8;
margin-bottom:25px;

}

.card{

background:#1e293b;
padding:25px;
border-radius:10px;

}

input{

margin-bottom:20px;

}

.buttons{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;

}

button,.importBtn{

background:#22c55e;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
color:white;

}

button:hover,.importBtn:hover{

background:#16a34a;

}

.importBtn{

display:flex;
justify-content:center;
align-items:center;

}

#output{

margin-top:20px;
background:#020617;
padding:15px;
border-radius:6px;
text-align:left;

}

#chunkMap{

margin-top:15px;
display:flex;
flex-wrap:wrap;
gap:5px;
justify-content:center;

}

.chunk{

width:18px;
height:18px;
border-radius:3px;

}

.safe{

background:#22c55e;

}

.modified{

background:#ef4444;

}
